<html>

  <head>
    <title>Bookstore App</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="//cdn.rawgit.com/angular-ui/ui-router/0.2.13/release/angular-ui-router.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <script src="js/ui-bootstrap-tpls.js"></script>
        
    <!-- app scripts -->
    <script src="js/app.js"></script>
    <script src="js/services/auth-service.js"></script>
    <script src="js/services/book-service.js"></script>
    <script src="js/services/genre-service.js"></script>
    <script src="js/controllers/book-controller.js"></script>
    <script src="js/controllers/admins-controller.js"></script>
    <script src="js/controllers/auth-controller.js"></script>
    <script src="js/controllers/nav-controller.js"></script>
    <script src="js/controllers/clients-controller.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <base href="/">
  </head>

  <body ng-app="bookstoreApp">
	<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
		<ul class="nav navbar-nav">
			<li ng-show="isLoggedIn()"><a href="/#/register">home</a></li>
			<li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
			<li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
			<li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
			<li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
		</ul>
	</nav>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
<!-- 			<a href="/#/admins"><h1><%= title %></h1></a> -->
				<h1><%= title %></h1>
				<br/>
        <ui-view></ui-view>
        <base href="/">
      </div>
    </div>
    
  
  
  <script type="text/ng-template" id="/books.html">

  </script>
  
  
  </body>

</html>
